* {
  background-color: #FFFFFF;
  font-family: 'Josefin Sans', sans-serif;
  color: #7e60fe;
}

div.Presentation{
	margin: auto 20%;
	text-align: center;

}

h1{
	text-align: center;
	font-size: 4em;
	margin: 0.8em auto;
}

h2{
	text-align: center;
	font-size: 2.5em;
	color: #7e60fe;
}

h3{
	border-style: solid;
	border-radius: 30px;
	margin: 1em 23em;
}

a{
	color: #7e60fe;
}

p{
	text-align: center;
	margin-top: 10px;
	font-size: 30px;
}

p.intro{
	text-align: center;
	margin-top: 20px;
	font-size: 33px;
}

p.avis{
	text-align: center;
	margin: auto 10%;
	margin-top: 10px;
	font-size: 20px;
}

span{
  color: #B14CFD;
  font-size: 1.6em;

}

img{
	border-radius: 30px;
	height: 600px;
	margin: 15px;
}

img.Image{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: center;
}

img.etoile{
	display: block;
	margin: 30px auto;
	height: 5%;
}

button{
  	width: 50%;
  	font-size: 28px;
  	cursor: pointer;
  	text-align: center;
  	border-radius: 30px;
  	margin: 30px auto;
  	padding: 10px 30px;
}

input{
	font-size: 28px;
	border-radius: 30px;
	text-align: center;
	padding: 10px 10px;
	margin: 20px auto;

}

select{
	width: 50px;
	height: 50px;
	font-size: 36px;
	margin: auto 1em;

}

textarea{
	font-size: 36px;
	margin: 20px auto;
}

